<div class="jumbotron">
  <h3 class="display-4">Welcome to the Tournament Test</h3>
  <p class="lead">Fix the bugs.</p>
  <hr class="my-4">
  <p>This is a very basic forum application with a number of failing unit tests. You must run the unit tests to find the bugs. Fix the bugs to make the unit tests pass. Do not modify the unit tests.</p>
</div>