<div id="header">
	<nav class="navbar navbar-light nav-pills">
		<ul class="nav nav-tabs header-tabs">
			Tournament Test
		</ul>
		<ul class="nav navbar-nav pull-right">
			<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
		</ul>
	</nav>
</div>