<strong>-Forums-</strong>
<div class="btn-group-vertical btn-block">
  <%= link_to "New topic", new_topic_path, class: "btn" %>
  <% Topic.all.each do |topic| %>
    <%= link_to topic.name, topic, class: "btn" %>
  <% end %>
</div>